{
	"singleQuote": true,
	"trailingComma": "none",
	"overrides": [
		{
			"files": ["*.ts, *.tsx"],
			"options": {
				"parser": "typescript"
			}
		}
	],
	"semi": false,
	"useTabs": true,
	"tabWidth": 4
}
