@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
	themes: light --default, dark --prefersdark, emerald, cyberpunk,
		valentine, halloween, winter, business, nord;
	logs: true;
	prefix: "";
	rtl: false;
	base: true;
	styled: true;
	utils: true;
}

@plugin "daisyui/theme" {
    name: "light";
    --color-primary: #2ecc71;
    --color-secondary: #0450DC;
    --color-accent: #3498db;
    --color-neutral: #333c4d;
    --color-neutral-focus: #1f242e;
    --color-neutral-content: #f9fafb;
    --color-base-100: #e6e6e6;
    --color-info: #2980b9;
    --color-success: #27ae60;
    --color-warning: #f39c12;
    --color-error: #c0392b;
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: #2ecc71;
    --color-secondary: #0450DC;
    --color-accent: #3498db;
    --color-neutral: #19222d;
    --color-neutral-focus: #1c2531;
    --color-neutral-content: #B2B9C3;
    --color-base-100: #25303d;
    --color-base-200: #1e2731;
    --color-base-300: #1b222c;
    --color-base-content: #AEB5C0;
    --color-info: #2980b9;
    --color-success: #27ae60;
    --color-warning: #f39c12;
    --color-error: #c0392b;
}

@layer base {
	html {
		scroll-behavior: smooth;
	}
}

@layer utilities {
	::-webkit-scrollbar {
		width: 14px;
	}

	::-webkit-scrollbar-track {
		border-radius: 100vh;
	}

	::-webkit-scrollbar-thumb {
		--tw-bg-opacity: 1;
		background-color: var(--fallback-p,oklch(var(--p)/var(--tw-bg-opacity)));
	}
}